/**********************TAG SELECTORS*************************/

body {
    background-color: #EAF6F6;
}

hr {
    /* border-style: dotted none none; */
    border-style: none;
    border-top-style: dotted;
    /* background-color: #d8d8d8; It has no height now. */ 
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

img {
    width: 150px;
    height: 150px;
}


h1 {
    color: #66bfbf;
    text-align: center;
}

h3 {
    color: #66bfbf;
}


/**********************CLASS SELECTORS*************************/

.circular {
    border-radius: 100%;
}


/**********************ID SELECTORS*************************/

#profile:hover {
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
